#boards_picker {
width: 100%;
height: 90%;
top: 0;
overflow-y: scroll;
}

.board_icon {
  border-radius: 40%;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  opacity: 0.9;
  margin-bottom: 8px;
  line-height: 50px;
  text-align: center;
  font-size: 17pt;
  color: #f1f2f3;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  font-family: "Montserrat";
  cursor: pointer;
  vertical-align: middle;
  margin-top: 16px;
  position: relative;
}

#boards_picker {
    -webkit-app-region: drag;
}

.board_icon.current {
  border-radius: 33%;
  transition: all 0.2s;
}

/* .current::after {
  content: ".";
  font-size: 200pt;
  color: white;
} */

#boards_picker .board_icon:hover {
  border-radius: 33%;
  transition: all 0.3s;
  opacity: 1;
  color: white;
}


#new_board {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.2);
  text-align: center;
  line-height: 25px;
  /* padding: 5px; */
  /* top: 5px; */
  /* margin-left: 20px; */
  font-size: 26pt;
  /* vertical-align: middle; */
  cursor: pointer;
  color: #ffffff;
  /* position: absolute; */
  /* top: 21px; */
  /* right: 22px; */
  line-height: 50px;
  margin: auto;
  margin-bottom: 9px;
  margin-top: 14px;
  opacity: 0.9;
  margin-top: 27px;
}

#new_board:hover {
  border-radius: 33%;
  transition: all 0.3s;
  opacity: 1;
  color: white;
  font-weight: bold;
  }


#modal {
  transition: 0.2s;
  position: absolute;
  padding: 25px;
  padding-top: 0;
  width: 23.5%;
  background: #181818;
  border-radius: 10px;
  z-index: 999;
  top: 107px !important;
  right: 11px !important;
}

#board_box {

background-color: rgba(0,0,0,0.1);
border-radius: 5px;
width: 33%;
color: white;
position: absolute;
right: 50px;
font-size: 11pt;
padding: 10px;
display: none;
}

.board_message_reply {
  display: none;
}

.board_message_user > .board_message_reply:first-child {
  display: block;
}

#boards_picker::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}
